body {
    font-family: sans-serif;
  }
  
  .star-icon {
    --icon-size: 64px;
  
    cursor: pointer;
    height: var(--icon-size);
    width: var(--icon-size);
  }
  
  .star-icon-filled {
    fill: yellow;
  }

  .tl-container {
    padding: 10px;
    display: flex;
    background-color: black;
    margin: 10px;
    column-gap: 10px;
    row-gap : 10px;
    border-radius: 5px;
  }

  .horizontal {
    flex-direction: row;
  }
  .vertical {
    flex-direction: column;
  }

  .tl-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.bg-grey {
  background-color: grey;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}

/* Image Carousel */

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  column-gap: 8px;
}

.image-preview {
  background-color: black;
  position: relative;
}

.image {
  width : 600px;
  height: 400px;
  object-fit: fill;
}

.bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2px;
  position: absolute;
  z-index: 1;
  bottom: 22px;
  left : 298px;
}

.bullet {
  padding : 2px;
}

.bullet-active {
  background-color: cyan;
  color : yellow;
}

.bullet-unactive {
  background-color: aquamarine;
}